body {
    font-family: sans-serif;
}

h1 { color: white;
    background: linear-gradient(to bottom, black,gray);
    text-align: center;
    padding: 25px; ;
    font-size: 50px;
    margin: 0%;
    border-radius: 0%;
    
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    text-rendering:  auto;
}

.card {
    box-sizing: border-box;
    background-color: #f7f7f7;
    box-shadow: 30px 30px 50px rgb(1, 0, 0, 0.1);
    width: 300px;
    height: 410px;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 2%;

}

.card h2{
    margin: 15px 0 10px;
    font-size: 22px;
    color: #333;

}
.card img { 
    width: 240px;
    height: 300px;
    border-radius: 2%;
    border-image-width: 50%;
    transition: transform 0.3s ease;    
}
    

.card:hover {
    transform: scale(1.03);
}

.card-button button {
    background: linear-gradient(to right, #27ae60, #2ecc71);
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    padding: 14px 25px;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);

}
.card-button:hover {
    transform: scale(1.06);

}

